
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

*{
    
       
    box-sizing: border-box;
    
    
   
}

body{

    background-color: #424a52;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}




header{
    
    font-family: "Noto Sans", sans-serif;
    color: white;
    background-color: #1e2124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;

    
    
}

footer{
    font-family: "Noto Sans", sans-serif;
    color: white;
    background-color: #1e2124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;


}

.foot-buttons{
    background-color: none;
    list-style: none;
    

}

.foot-buttons li {
    background-color: none;
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    
    

}



.nav-buttons{
    background-color: none;
    list-style: none;


}

.nav-buttons li {
    background-color: none;
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    
    

}

.nav-buttons li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    color: white;

}

.nav-buttons li a:hover{
    color: yellow;
   
    

}

.icons{
    height: 30px;
    
}

.resume-view{
    position: relative;
    width: 50%;
    left: 25%;
    top: -75px;


}